.breketmax-text-button{
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px 0;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    column-gap: 6px;
    align-items: center;
}
.filled{
    background-color: var(--primary);
    color: var(--white);
}
.filled:hover{
    background-color: #418ed5;
}
.outline{
    border: 2px solid var(--black);
    background-color: transparent;
    color: var(--black);
    padding: 7px 0;

}
.sm{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}
.md{
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 3px;
}
.lg{
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 3px;
}