.error-page{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error-page .error-img img{
    width: 400px;
}
.error-page h2{
    font-size: 48px;
    margin-bottom: 16px;
}
.error-page p {
    font-size: 24px;
    margin-bottom: 32px;
    color: var(--gray-737);
}