.product-item{
    display: grid;
    grid-template-columns: auto 1fr 170px;
    border: 1px solid var(--gray-ccc);
    border-radius: 10px;
}
.product-item-image{
    padding: 30px;
}
.product-item-image img{
    width:110px;
    height:110px;
    border-radius: 3px;
}
.product-item-description{
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    border-left:1px solid #F3F3F3;
    border-right:1px solid #F3F3F3 ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item-description a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item-description h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item-description h3:hover {
    color:#646464;
}
.product-item-description p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-333);
    white-space: normal;
    overflow: auto;
    text-overflow: unset;
}

.product-item-control{
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.product-item-control .control-row{
    display: flex;
    flex-direction: row;
    height: 32px;
    column-gap: 12px;
}