.products-list{
    display: flex;
    row-gap: 17px;
    flex-direction: column;
}
.list-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.list-header .list-header-controls{
    display: flex;
    column-gap:14px ;
}
.empty-list{
    margin-top: 20px;
    font-size: 24px;
    color: var(--gray-737);
    font-weight: 400;
}