.breketmax-textarea textarea{
    border: 1px solid var(--gray-ccc);
    border-radius: 6px;
    padding: 10px 15px;
    outline: none;
    color: var(--gray-333);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--white);
    width: 100%;
    resize: none;
    box-sizing: border-box;

}
.breketmax-textarea textarea:focus{
    border: 2px solid var(--gray-737);
}
.breketmax-textarea textarea::placeholder{
    color: #BDBABA;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}